

.footer {
  color: #000000;
  padding: 40px 0 20px;
  margin-top: 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;         
  gap: 500px; 
}

.footer-col h3, .footer-col h4 {
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 6px 0;
}


.copy {
  text-align: center;
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #000000;
  font-size: 0.9rem;
  color: #000000;
}
