

.footer {
  color: #000000;
  padding: 40px 0 20px;
  margin-top: 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;         
  gap: 500px; 
}

.footer-col h3, .footer-col h4 {
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 6px 0;
}


.copy {
  text-align: center;
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #000000;
  font-size: 0.9rem;
  color: #000000;
}

@media (max-width: 768px) {

  .footer {
    padding: 30px 0 20px;
    text-align: center; /* deixa tudo centralizado no mobile */
  }

  .footer-grid {
    grid-template-columns: 1fr;  /* 1 coluna no mobile */
    gap: 40px;                   /* reduz o espaço gigante */
    padding: 0 20px;             /* dá respiro nas laterais */
  }

  .footer-col h3,
  .footer-col h4 {
    font-size: 20px;
  }

  .footer-col ul li {
    font-size: 16px;
  }

  .copy {
    font-size: 0.8rem;
    margin-top: 20px;
  }
}