header{
  display: flex;
  justify-content: center;
 padding-top: 40px;
}
.menu ul{
  display: flex;
 gap: 34px;
 list-style: none;
}

.menu a {
  text-decoration: none;
  color: var(--azure);
  font-weight: 400;
  font-size: large;
}

.menu ul li a {
  position: relative;

}


.menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--azure); 
  transition: width 0.3s ease;
}

.menu ul li a:hover::after {
  width: 100%;
}



@media (max-width: 768px) {
  header {
    padding-top: 20px;
  }

  .menu ul {
    flex-direction: column;     
    gap: 20px;
    align-items: center;
  }

  .menu a {
    font-size: 18px;           
  }

  .menu ul li a::after {
    height: 1.5px;              
  }
}