.img-fundo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

main{
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  .img-fundo {
    margin-top: 20px;            
    padding: 0 20px;            
  }

  .img-fundo img {
    width: 100%;                 
    max-width: 450px;            
    height: auto;
  }

  main {
    padding-bottom: 40px;        
  }
}