.sobre > h2{
  margin-top: 80px;
  text-align: center;
  font-weight: 600;
}
.sobre > h1{
  margin-top: 10px;
  text-align: center;
  color:#0c507b
}

.sobre > p{
  padding-top: 30px;
 text-align: center;
  max-width: 800px;
  margin: 0 auto;   
  font-size: 26px;
}

.btn-orcamento:hover{
   border: solid #0c507b;
   background-color: var(--azure);
   color: aliceblue;
 padding: 8px 14px;
  border-radius: 4px;
}

.sobre > a{
 display: flex;
 justify-content: center;
 text-decoration: none;
 gap: 8px;
 color: var(--azure);
 margin-top: 50px;
}



.social {
    display: flex;
    justify-content: center;  
    align-items: center;     
    gap: 19px;               
    padding-top: 40px;
    padding-bottom: 70px;
}
.social img {
    width: 40px; 
}

.servicos{
 
  justify-content: center;
}

.servicos >h1{
  padding-top: 100px;
  text-align: center;
  color: #040505;
  font-weight: bold;
}
 .grid-servicos{
 margin: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
 }

  .grid-servicos img {
  width: 400px;     
  object-fit: cover;
  border-radius: 4px;
  
}

.grid-servicos h4{
  text-align: center;
}

 .grid-servicos2 {
  display: flex;
  justify-content: center; 
  gap: 40px;
  margin-top: 40px;
  padding-bottom: 60px;
}


.grid-servicos2 img{
   width: 400px;     
  object-fit: cover;
  border-radius: 4px;
}

.grid-servicos2 h4{
  text-align: center;
  
}






